<ion-view>
  
 <ion-header-bar  class="bar-stable bar-positive" >
     <h1 class="title">Transportes TEC</h1>
 </ion-header-bar>
      <ion-content>

      <div class=" center">

         <label class="item item-input label1 ">
         <input type="text" placeholder="Nombre de usuario" ng-model="data.username">
         </label>

         <label class="item item-input label2 ">
         <input type="password" placeholder="Contraseña" ng-model="data.password">
         </label>


       <button class="button button-block button-positive" ng-click="login()" >
        Iniciar sesión
      </button>
          
  </div>
</ion-content>

</ion-content>
<ion-footer-bar align-title="center" class="bar-positive">
</ion-footer-bar>

</ion-view>
