<ion-view view-title="Choferes">
  <ion-content>
    <ion-list>
      <ion-item  class="item item-thumbnail-left" ng-repeat="chofer in choferesData" href="#/appAdmin/choferAdmin/{{chofer.id}}">
        <h2>{{chofer.nombre}}</h2>
        <p>{{chofer.apellidos}}</p>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
