<ion-view view-title="Flotilla">


  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh.."
      on-refresh="cargarReservas()">
    </ion-refresher>


  <ion-content>
    <ion-list>
      <ion-item  class="item item-thumbnail-left" ng-repeat="flotilla in auto" href="#/appAdmin/flotillaA/{{flotilla.id}}">
        <img ng-src="data:image/jpeg;base64,{{flotilla.image}}" width="100%" />
        <h2>{{flotilla.marca}}</h2>
        <p>{{flotilla.placa}}</p>
        </div>

      </ion-item>
    </ion-list>
    <ion-footer-bar align-title="center" >
      <button class="button button-balanced icon ion-plus-round button-clear" ng-click="AgregarVehiculo()"></button>
    </ion-footer-bar>
  </ion-content>
</ion-view>
