<ion-view view-title="Administrar  de Reservas">


<ion-content>
  <ion-refresher
    pulling-text="Pull to refresh.."
    on-refresh="dorefresh()">
  </ion-refresher>

  <ion-list>
    <div ng-repeat="group in groups">
      <ion-item class="item-stable"
                ng-click="toggleGroup(group)"
                ng-class="{active: isGroupShown(group)}">
        <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
         {{group.name}}
      </ion-item>

      <div class="list" >
        <a ng-repeat="item in group.items" ng-show="isGroupShown(group)" id="{{item.id}}" class="item item-icon-right" href="#/appAdmin/AdminReservas/{{item.id}}">
          <h2>{{item.title}}</h2>
          <p>{{item.fechaIni}}</p>
          <span style="color:{{item.color}}" class="{{item.icon}}"></span>
        </a>
      </div>

      <!--
      <ion-item class="item-accordion"ng-repeat="item in group.items"ng-show="isGroupShown(group)">
        {{item.title}}
      </ion-item>
      -->
    </div>
  </ion-list>

</ion-content>
</ion-view>
