<ion-view view-title="Administrar Reservas">
  <ion-content>

    <div  class="infoRes">
      <div class="internalRes">
        <div class="card">
          <div class="item item-divider">
            Solicitud de {{nombrePersonaReserva}}
          </div>
          <div class="row ItemRes">
            <div class="col"><strong>Placa</strong> </div>
            <div class="col" >{{placa}}</div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Chofer</strong> </div>


            <select  class="col" id="listChofer" ng-model="chofer"  ng-options="element for element in chofers" >
            </select>
            <!--<div class="col"> {{chofer}}</div>-->


          </div>
          <div class=" ItemRes row">
            <div class="col"><strong> Lugar</strong> </div>
            <div class="col"> {{lugar}}</div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Hora de salida</strong> </div>
            <div class="col"> {{hSalida}} </div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Hora de llegada</strong> </div>
            <div class="col"> {{hLlegada}}</div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Fecha de Salida</strong> </div>
            <div class="col"> {{fSalida}}</div>
          </div>
          <div class=" ItemRes row">
            <div class="col"><strong> Fecha de Llegada</strong> </div>
            <div class="col"> {{fLlegada}}</div>
          </div>

          <div class=" ItemRes row">
            <div class="col"><strong> Número de pasajeros</strong> </div>
            <div class="col"> {{numPas}}</div>
          </div>

          <div class=" ItemRes row">
            <div class="col"><strong> Estado</strong> </div>

            <div class="col"ng-model="estado">{{estado}}</div>

          </div>

          <div class=" ItemResLast row">
            <div class="col"><strong> Justificación</strong>
              <label class="label1 ">
                <input type="text" ng-model="justificacionRechazo" >
              </label>
            </div>


          </div>
        </div>

      </div>
    </div>
    <div class="row buttonGroup">
      <div class="col">
        <a class="button button-balanced buttonAceptar button-outline icon ion-checkmark"

           ng-click="evaluar('Aceptado',justificacionRechazo,chofer)"> {{estadoBotonAceptar}}</a>
      </div>
      <div class="col">
        <a class="button button-assertive buttonDenegar button-outline icon ion-close"
           ng-click="evaluar('Denegado',justificacionRechazo,chofer)"> {{estadoBotonDenegar}}</a>

      </div>
    </div>
    </div>



    <!-- Input Placa-->





  </ion-content>
</ion-view>
