<ion-view view-title="Flotilla">
  <ion-nav-buttons side="right">
    <div class="buttons">
      <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="autos">
      <img ng-src="data:image/jpeg;base64,{{imagenD}}" width="112%" height="125%"  />
    </div>
    <br>
    <div class="flotilladet">
      <div style="margin-left: 15px;">
        <br>
        <h4 style="color: white">Placa {{placasD}}</h4>
      </div>
    </div>
    <div  class="infoRes">
      <div class="internalRes">
        <div class="row ItemRes">
          <div class="col"><strong>Marca</strong> </div>
          <div class="col"><input type="text" ng-model="marcaD"></div>
        </div>
        <div class="row ItemRes">
          <div class="col"><strong>Modelo</strong> </div>
          <div class="col"><input type="text" ng-model="modeloD"></div>
        </div>

        <div class="row ItemRes">
          <div class="col"><strong>Transmisión</strong> </div>
          <div class="col"><input type="text" ng-model="traccionD"></div>
        </div>
        <div class="ItemRes row">
          <div class="col"><strong> Pasajeros</strong> </div>
          <div class="col"> <input type="number" ng-model="pasajerosD"></div>
        </div>
        <div class=" ItemRes row">
          <div class="col"><strong> Dependencia</strong> </div>
          <div class="col"> <input type="text" ng-model="dependenciaD"></div>
        </div>
        <!--<div class="ItemRes row">
          <div class="col"><strong> Estado</strong> </div>
          <div class="col"><input type="text" ng-model="estadosD"></div>
        </div>-->
      </div>
    </div>
    <div class="button-bar">
      <button class="button button-balanced icon ion-checkmark button-clear" ng-click="updateData(marcaD,modeloD,traccionD,pasajerosD,dependenciaD)"></button>
      <button class="button button-assertive icon ion-close button-clear" ng-click="BorrarVehic()"></button>
    </div>
  </ion-content>
</ion-view>


<script id="templates/popover.html" type="text/ng-template">
  <ion-popover-view style="height: 150px;">
    <ion-content>

      <div class="list">
        <div class="item item-icon-left">
          <i class="icon ion-camera"></i>
          <a ng-click="upload('camera')">Camara</a>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-aperture"></i>
          <a ng-click="upload('gallery')">Galería</a>
        </div>
      </div>

    </ion-content>
  </ion-popover-view>
</script>






