<ion-view view-title="Flotilla">
  <ion-content>

    <div class="autos">
      <img ng-src="data:image/jpeg;base64,{{imagenD}}" width="112%" height="125%"  />
    </div>
    <br>
    <div class="flotilladet">
      <div style="margin-left: 15px;">
        <h4 style="color: white">{{marcaD}}</h4>
        <h5 style="color:#929292">{{modeloD}}</h5>
      </div>
    </div>
    <div  class="infoRes">
      <div class="internalRes">
        <div class="item item-divider">
          Auto placa: {{placasD}}
        </div>
        <div class="row ItemRes">
          <div class="col"><strong>Transmisión</strong> </div>
          <div class="col">{{traccionD}}</div>
        </div>
        <div class="ItemRes row">
          <div class="col"><strong> Pasajeros</strong> </div>
          <div class="col"> {{pasajerosD}}</div>
        </div>
        <div class=" ItemRes row">
          <div class="col"><strong> Dependencia</strong> </div>
          <div class="col"> {{dependenciaD}}</div>
        </div>
        <div class="ItemRes row">
          <div class="col"><strong> Estado</strong> </div>
          <div class="col"> {{estadosD}} </div>
        </div>
      </div>
      </div>

    <br>
    <div>
      <a class="button  button-balanced" style="text-align:center; margin-left: 35%;"href="#/app/reservar/{{placasD}}"> Reservar</a>
    </div>
  </ion-content>
</ion-view>






