<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-log-out">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/inicio">
            <i class="icon ion-home"></i>
          Inicio
        </ion-item>
        <ion-item menu-close href="#/app/reservar">
            <i class="icon ion-ios-bookmarks"></i>
          Reservar
        </ion-item>
        <ion-item menu-close href="#/app/flotillaU">
            <i class="icon ion-model-s"></i>
          Flotilla
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
            <i class="icon ion-ios-pulse-strong"  ></i>
          Mis Reservas
        </ion-item>
      </ion-list>
    <div class="bar bar-footer">
        <button class="button button-stable button-clear icon-left ion-key" ng-click = "showPrompt()">
            Cambiar Contraseña
        </button>
    </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
