<ion-view view-title="Mis Reservas">
  <ion-content>

    <div  class="infoRes">
      <div class="internalRes">
        <div class="card">
          <div class="item item-divider">
            Solicitud de Andrea Salas
          </div>
          <div class="row ItemRes">
            <div class="col"><strong>Placa</strong> </div>
            <div class="col"> E-105</div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Chofer</strong> </div>
            <div class="col"> Carlos Lopez</div>
          </div>
          <div class=" ItemRes row">
            <div class="col"><strong> Lugar</strong> </div>
            <div class="col"> San Carlos</div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Hora de salida</strong> </div>
            <div class="col"> 4:00 a.m </div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Hora de llegada</strong> </div>
            <div class="col"> 6:00 p.m</div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Fecha de salida</strong> </div>
            <div class="col"> 12/06/2016</div>
          </div>
          <div class=" ItemRes row">
            <div class="col"><strong> Fecha de llegada</strong> </div>
            <div class="col"> 12/06/2016</div>
          </div>
          <div class=" ItemResLast row">
            <div class="col"><strong> Número de pasajeros</strong> </div>
            <div class="col"> 14</div>
          </div>

        </div>


      </div>
      <div class="row buttonGroup">
        <div class="col">
          <button class="button button-balanced buttonAceptar button-outline icon ion-checkmark">  Aceptar</button>
        </div>
        <div class="col"><button class="button button-assertive buttonDenegar button-outline icon ion-close">  Denegar </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
