<ion-view view-title="Mis Reservas">
  <ion-content>
    <div class="list" >
        <a ng-repeat="reserva in reservas" id="{{reserva.id}}" class="item item-icon-right" href="#/app/playlists/{{reserva.id}}">
            <h2>{{reserva.title}}</h2>
            <p>{{reserva.fechaIni}}</p>
            <span style="color:{{reserva.color}}" class="{{reserva.icon}}"></span>
        </a>
      </div>
    </ion-content>
</ion-view>
