<ion-view view-title="Aminitrar Reservas">
  <ion-content>

    <div  class="infoRes">
      <div class="internalRes">
        <div class="card">
          <div class="item item-divider">
            Solicitud de {{nombre}}
          </div>
          <div class="row ItemRes">
            <div class="col"><strong>Placa</strong> </div>
            <div class="col">{{placa}}</div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Chofer</strong> </div>
            <div class="col"> {{chofer}}</div>
          </div>
          <div class=" ItemRes row">
            <div class="col"><strong> Lugar</strong> </div>
            <div class="col"> {{lugar}}</div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Hora de salida</strong> </div>
            <div class="col"> {{hSalida}} </div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Hora de llegada</strong> </div>
            <div class="col"> {{hLlegada}}</div>
          </div>
          <div class="ItemRes row">
            <div class="col"><strong> Fecha de Salida</strong> </div>
            <div class="col"> {{fSalida}}</div>
          </div>
          <div class=" ItemRes row">
            <div class="col"><strong> Fecha de Llegada</strong> </div>
            <div class="col"> {{fLlegada}}</div>
          </div>

          <div class=" ItemRes row">
            <div class="col"><strong> Número de pasajeros</strong> </div>
            <div class="col"> {{numPas}}</div>
          </div>
          <div class=" ItemResLast row">
            <div class="col"><strong> Estado</strong> </div>
            <div class="col"> {{estado}}</div>
          </div>

        </div>
</div>
      </div>


  </ion-content>
</ion-view>
