<ion-view view-title="Flotilla">
  <ion-content>
    <ion-list>
      <ion-item  class="item item-thumbnail-left" ng-repeat="flotilla in auto" href="#/app/flotillaU/{{flotilla.id}}">
        <img ng-src="data:image/jpeg;base64,{{flotilla.image}}" width="100%" />
        <h2>{{flotilla.marca}}</h2>
        <p>{{flotilla.placa}}</p>

        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
