<ion-view view-title="inicio">
<ion-content>
<h1>Inicio</h1>

<div class="card">
	<div class="item item-divider">
		Mensajes
	</div>
	<div class="item item-text-wrap">
		No hay transportes el 14 marzo.
	</div>
</div>
</ion-content>
</ion-view>
