<ion-view view-title="Reservar">
  <ion-content>
    <form>
      <!-- Input Placa-->

      <div class="row">
          <div class="col">
            <div class="list">
              <label style= "border:{{bordePlaca}} solid 1px" class="item item-input item-select">
                <div class="input-label">
                  Placa
                </div>
                <select id="listPlacas" ng-model="data.placa"  ng-options="element for element in data.placas">

                </select>
              </label>
            </div>
          </div>
        <div class="col+1">
          <a ng-if="data.placa" class="button ion-information-circled button-positive  button-clear" href="#/app/flotillaU/{{data.placa}}"></a>
          <button style="visibility:{{advrRestriccion}}" class="button ion-android-alert button-assertive  button-clear"></button>
        </div>
      </div>

      <!--Dropdown de chofer o no-->
      <div class="row">
          <div class="col col-50">
            <div class="list chofer-dropdw">
              <label style= "border:{{bordeChofer}} solid 1px" class="item item-input item-select">
                <div class="input-label">
                  Chofer
                </div>
                <select  ng-model="data.chofer">
                  <option>No</option>
                  <option selected>Si</option>
                </select>
              </label>
            </div>
          </div>
      </div>

      <!-- Input Lugar-->
      <div class="row">
          <div class="col">
            <label style= "border:{{bordeLugar}} solid 1px"  class="item item-input">
                <i class="icon ion-location placeholder-icon"></i>
                <input  type="text" placeholder="Lugar" ng-model="data.lugar" required>
            </label>
          </div>
      </div>
      <br>
      <!-- Input Hora Llegada y Salida-->
      <div class="row">
          <div class="col">
            Hora Salida
            <label style= "border:{{bordeHoraSalida}} solid 1px"  class="item item-input">
                <input  type="time" ng-model="data.horaSalida" >
            </label>
          </div>
          <div class="col">
              Hora Llegada
              <label  style= "border:{{bordeHoraLlegada}} solid 1px"   class="item item-input">
                <input  type="time"  ng-model="data.horaLlegada">
            </label>
          </div>
      </div>

      <!-- Input Fecha Llegada y Salida-->
      <div class="row">
          <div class="col col-50">
            Fecha Salida
            <label style= "border:{{bordefechaSalida}} solid 1px"   class="item item-input padding-right">
                <input   type="date" ng-model="data.fechaSalida" >
            </label>
          </div>
          <div class="col col-50">
              Fecha Llegada
              <label style= "border:{{bordefechaLlegada}} solid 1px"   class="item item-input">
                <input   type="date" ng-model="data.fechaLlegada"  min="2016-02-31">
            </label>
          </div>
      </div>

      <br>
      <div class="row">
          <div class="col">
            <label style= "border:{{bordePasajeros}} solid 1px"  class="item item-input">
                <i class="icon ion-man placeholder-icon"></i>
                <input  type="number" placeholder="Pasajeros"  ng-model="data.pasajeros" required="true">
            </label>
          </div>
      </div>

      <button type="submit" class="button button-positive reservar-button" ng-click="reservar()">
       Reservar
      </button>
    </form>
  </ion-content>
</ion-view>
