/* Empty. Add your own CSS if you like */

.alertIcons{
    font-size: 20px;
}

.center{
	padding-top:20%;
	margin-left:  15%;
	margin-right: 15%;
	border: black;

}

.label2{
	margin-top: 20%;
    margin-bottom:20%;
}

.button-login{
    margin-top:300px;

}

.reservar-button{
    margin-left: 35%;
}
.chofer-dropdw{
    padding-bottom: 2%;
    margin-left: 1%;
    padding-top: 2%;
}

.autos {
    width: 100%;
    height: 25%;

}
.flotilladet{
  background-color: #444444;
  height: 60px;
  box-shadow: -1px 5px 14px -3px rgba(0,0,0,0.75);
}



    .textbox {
    padding: 1px 20px;
    border: 0;
    height: 25px;
    width: 275px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;
}




.infoRes{
   padding-top:5%;
    margin-left:  4%;
    margin-right: 4%;

}

.internalRes{
  font-size: 13px;

}
.ItemRes{


    margin-bottom: 10px;
    -webkit-box-shadow: inset -28px -131px 0px -130px rgba(209,209,209,1);
-moz-box-shadow: inset -28px -131px 0px -130px rgba(209,209,209,1);
box-shadow: inset -28px -131px 0px -130px rgba(209,209,209,1);
}

.ItemResLast{
     margin-bottom: 10px;
}


.buttonAceptar
{

    margin-left: 6%;


}
.buttonDenegar
{

     margin-left:6%;

}

.buttonGroup{
    margin-top:30px;

}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
